@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    /*background-color: rgb(63, 153, 238);*/
    background-image: linear-gradient(to bottom right, rgb(255, 230, 0), red);
    background-attachment: fixed; backround-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    
}

#titulo{
    display: flex;
    flex-flow: column nowrap; justify-content:center;
    align-items: center;
    width: 100%;
    font-family: 'Press Start 2P', cursive; color: white; font-size: 15pt;
    margin-bottom: 5vh;
    text-align: center;
}

#titulo_img{
    display: flex;
    flex-flow: row nowrap; justify-content:center;
    align-items: center;
}

#pontos{
    color:black; background-color: yellow;
}

#menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;background-color: rgb(49, 49, 49);
    margin-bottom: 10vh;
    padding: 2vh;



}

#menu a{
    text-decoration: none;
    font-size: 20px;
    color: white ;
    padding: 40px;

}

#menu a:hover{
    text-decoration: none;
    font-size: 20px;
    color: white ;
    background-color: rgb(49, 49, 49);
    padding: 20px;
    transition: all 0.8s ease;

}

canvas{
    background-color: white;
    border-radius: 2rem ;
    }
  
#Borda_Canvas{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    
}   

#Borda_Canvas2{
    margin-top: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} 


#my_Img{

    height: 555px;
    width: 690px;
    position: absolute;
}

#botao{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#jogar{
    height: 40px;
    width: 40vh;
    border-radius: 2rem;
    background-color: rgb(27, 27, 27);
    border: rgb(27, 27, 27);
    color: white;
    text-align:center ;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    
}

#jogar:hover{
    background-color: black;
    border: black;
    color: white;
    transition: all 0.8s ease;
}
