/*Css-página principal*/




body {
    /*Cor de fundo*/
    background-color: rgba(85, 161, 234, 0.82);
}

.div1{
    /*Para definir a escrita dos títulos ao centro*/
    display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;
}